.app-main-app{

    .main-section {
        height: 100vh;
        background-color: #090b13;
        color: cornsilk;
        padding: 1rem;
    }
    td{
        // border-bottom:1px solid white;
        border:1px solid white;
        padding:0.6rem 1rem ;
    }
}

